.custom-navbar {
    background-color: #F7F7F7;
    box-shadow: 0 4px 10px #F7F7F7!important; 
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
  }
  
  .custom-navbar a {
    color: black; 
    transition: color 0.3s ease; 
  }
  
  .navbar-brand img {
    border-radius: 8px; 
  }
  
  .navbar-toggler {
    border: none;
  }
  
  .navbar-nav .nav-item {
    margin-right: 15px;
  }
  
  .navbar-nav .nav-link {
    font-weight: 500;
    transition: color 0.3s ease; 
  }
  
