.titulo{
    border-top: 2px solid rgb(100, 29, 29);
}

.titulo h1{
    margin-top: 30px;
}

.btn-cli{
    margin-top: 10px;
    margin-right: 5px ;
    padding: 5px;
}

.background8 {
    border-top: 2px solid rgb(100, 29, 29);
    border-bottom: 2px solid rgb(100, 29, 29);
        background: linear-gradient(to right, #366894, #b44248);   padding: 20px; 
      box-shadow: 0 0 20px rgba(0, 0, 0, 0.1); 
      position: relative; 
      overflow: hidden; 
}
    .background8::before {
      position: absolute;
      width: 100%;
      height: 100%;
      background-repeat: repeat; 
      opacity: 0.1; 
      z-index: -1; 
    }